.container {
  background-color: white;
  box-shadow: 3px 3px 3px darkgrey;
  width: 221px;
}

.title {
  margin: 16px;
  vertical-align: middle;
  text-align: left;
  font-weight: 500;
}

.Publish {
  background-color: #6200ee;
  border-radius: 28px;
  box-shadow: 1px 1px 1px darkgrey;
  color: white;
}

.MuiCheckbox-colorPrimary.Mui-checked {
  color: #6200ee !important;
}

.listItem:hover {
  background-color: rgba(98, 0, 238, 0.08) !important;
}

.menubar {
  color: rgba(0, 0, 0, 0.6) !important;
}

.dateBox {
  display: 'flex';
  flex-wrap: 'wrap';
}

.outdated {
  color: '#FF0000';
  font-weight: 500;
}
