.title {
  margin: 16px;
  margin-top: 16px;
  height: 24px;
  width: fit-content;
  font-weight: 500;
  align-items: left;
}

.Publish {
  background-color: #6200ee;
  border-radius: 28px;
  box-shadow: 1px 1px 1px darkgrey;
  color: white;
}

.checkbox {
  color: #828282 !important;
}

.checkboxOverdue {
  color: #eb5757 !important;
}

.tasks:hover {
  background-color: rgba(98, 0, 238, 0.08) !important;
}

.menubar {
  color: rgba(0, 0, 0, 0.6) !important;
}

.dateBox {
  display: 'flex';
  flex-wrap: 'wrap';
}

.moreButton {
  color: #828282 !important;
}

.header {
  background-color: gray;
}

.cross {
  color: red;
}

.error {
  color: #eb5757;
}
