.title {
  margin: 16px;
  margin-top: 16px;
  height: 24px;
  width: fit-content;
  font-weight: 500;
  align-items: left;
}

.Publish {
  background-color: #6200ee;
  border-radius: 28px;
  box-shadow: 1px 1px 1px darkgrey;
  color: white;
}

.MuiCheckbox-colorPrimary.Mui-checked {
  color: #6200ee !important;
}

.tasks:hover {
  background-color: rgba(98, 0, 238, 0.08) !important;
}

.menubar {
  color: rgba(0, 0, 0, 0.6) !important;
}

.dateBox {
  display: 'flex';
  flex-wrap: 'wrap';
}

.checkbox {
  color: rgba(0, 0, 0, 0.6);
}
