.calander {
  height: 360px;
  max-width: 660px;
  border: 2px solid #7a00f4;
}

.header {
  background-color: gray;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.content {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.cross {
  color: red;
  padding-top: 5px;
  padding-right: 5px;
}
