@charset "utf-8";
/* CSS Document */
* {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none !important;
}

.BackgroundImage {
  background-image: url("https://images.pexels.com/photos/349610/pexels-photo-349610.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); 
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  width: 100%;
  height: 91%;
  overflow: auto;
}

.container {
  background: black;
  mix-blend-mode: normal;
  border: 2px solid #7a00f4;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 19px;
}

.HabitualsTitle {
  display: block;
  height: 20%;
  width: auto;
  padding: 10px;
  color: #ffffff;
  background-color: #7a00f4;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.Habituals ul {
  display: grid;
  width: 100%;
  list-style: none;
  align-items: left;
}

.Habituals ul div li {
  display: flex;
  margin: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #7a00f4;
  background-color: #ffffff;
  color: #7a00f4;
}

.Habituals ul div:hover li {
  border: 1px solid #9933ff;
  background-color: #7a00f4;
  color: #ffffff;
}

.Habituals ul div {
  display: flex;
  align-items: center;
}

.Habituals ul div:hover {
  background-color: #f1e4fd;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.Habituals ul div p {
  font-size: 30px;
  padding: 0 0 0 23px;
}

.cardContainer {
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 10%;
  position: static;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: auto;
  text-align: left !important;
  background:white;
  mix-blend-mode: normal;
  border: 1.5px solid #7a00f4;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 19px;
}

.HabitTitle {
  display: block;
  padding: 1vw;
  font-size: 1vw;
}

.AddIcon {
  position: fixed;
  top: 80px;
  left: 10px;
}

.HabitContent {
  height: 20%;
  padding: 10px;
}

.WeekSchedule,
.Habituals {
  display: block;
  height: auto;
  width: auto;
  margin: 1vw;
}

.WeekSchedule ul {
  display: flex;
  width: 100%;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.unselect {
  border: 1px solid #7a00f4 !important;
  background-color: #ffffff !important;
  color: #7a00f4 !important;
}

.WeekSchedule ul li button {
  display: inline-flex;
  margin: 10px;
  width: 2vw;
  height: 2vw;
  border: 1px solid #9933ff;
  border-radius: 50%;
  background-color: #7a00f4;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
}

.WeekSchedule ul li button:disabled,
.disable {
  border: 1px solid #b0adb3 !important;
  background-color: #b0adb3 !important;
  color: #ffffff !important;
}

.menuContainer {
  display: block !important;
  width: 100% !important;
  height: auto !important;
}

.dialog {
  border-radius: 19px !important;
}

.menuHeader {
  display: inline-flex !important;
  width: 100% !important;
  height: 16% !important;
  color: #ffffff !important;
  background: #210043 !important;
  border: 2px solid #210043 !important;
  box-sizing: border-box !important;
  align-items: center !important;
}

.menuHeader h2 {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.menuBody {
  width: 100% !important;
  height: 84% !important;

  background: #ffffff !important;
  mix-blend-mode: normal !important;
  border: 2px solid #210043 !important;
  box-sizing: border-box !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
}

#saveButton {
  position: absolute;
  width: 50px !important;
  height: 22px !important;
  left: 20px !important;
  background: #ffffff !important;
  border-radius: 19px !important;
}

#closeButton {
  position: absolute !important;
  width: 30px !important;
  min-width: 0 !important;
  height: 30px !important;
  right: 5% !important;
  padding: 0 !important;
  background: #ffffff !important;
  border-radius: 50% !important;
}

.habitInfo {
  display: block;
}

.habitInfo,
.weekInfo,
.timeSetting {
  width: 96%;
  padding: 0 2%;
  display: block;
}

.habitName,
.habitDetail,
.startDate,
.repeat,
.endDate {
  width: 100%;
  height: 50px;
  display: inline-flex;
  align-items: center;
}

#name,
#description,
#repeatsOn,
#start,
#selectWeeks,
#end {
  padding-right: 6px;
}

.addIconButton {
  color: white !important;
  padding: 0px !important;
}

.addIconButtonSvg {
  font-size: 2rem !important;
}

.habitTracker{
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 2% 0 0 0;
}
