@charset "utf-8";
/* CSS Document */
* {
    margin: 0;
    padding: 0;
}

.container {
    position: absolute;
    width: 289px;
    height: 272px;
    left: 265px;
    top: 122px;
    background: #FFFFFF;
    mix-blend-mode: normal;
    border: 2px solid #7A00F4;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 19px;
}

.HabitualsTitle {
    display: block;
    height: 20%;
    padding: 10px;
    color: #FFFFFF;
    background-color: #7A00F4;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.AddIcon {
    position: absolute;
    top: 10px;
    right:10px;
}

.HabitContent {
    height: 20%;
    padding: 10px;
}

.Habituals {
    display: block;
    height: 40%;
    width: 100%;
    margin: auto;
}

.Habituals ul{
    display: grid;
    width: 100%;
    list-style: none;
    align-items: left;
}

.Habituals ul div li{
    display: flex;
    margin: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #7A00F4;
    background-color: #FFFFFF;
    color: #7A00F4;
}

.Habituals ul div:first-child li {
    border: 1px solid #9933ff;
    background-color: #7A00F4;
    color: #FFFFFF;
}

.Habituals ul div {
    display: flex;
    align-items: center;
}

.Habituals ul div:hover {
    background-color: #F1E4FD;
}

.Habituals ul div p{
    font-size: 30px;
    padding: 0 0 0 23px;
}