.textInput {
    resize: none;
    width: 100%;
    height: calc(100% - 2px);
    background-color: transparent;
    border: none;
    outline: none;
}



.paper {
    resize: none;
    width: 100%;
    height: 100%;
    color:rgba(0, 0, 0, 0.096) !important;
}