.Journal {
  background-image: url('./journal.png');
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  flex-direction: row;
  display: flex;
}

.HalfJournal {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 10px;
  margin-bottom: 15px;
}

.HalfJournal:first-child {
  margin-left: 25px;
}

.HalfJournal:last-child {
  margin-right: 18px;
}

.ArrowLeft {
  position: absolute;
  bottom: 25px;
  left: 28px;
  cursor: pointer;
}
.ArrowRight {
  position: absolute;
  bottom: 25px;
  right: 28px;
  cursor: pointer;
}

.DateSelect {
  padding-top: 10px;
  width: 100%;
  text-align: center;
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 18px;
}

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
    display: block;
    width: 100%;
}