
.Page {
    display: inline-flex;
    flex-direction: row;
    width: 48%;
    margin-right: 15px;
    margin-top: 20px;
    height: 94%;
}

.Page :last-child {
    margin-right: 25px;
} 

.Text {
    width: 100%;
    height: 100%;
}

textarea {
    background: none;
    align-self: flex-end;
    border: none;
    outline: none;
    resize: none;
    overflow: auto;
    width: 100%;
    height: 94%;
}