.textInput {
    resize: none;
    width: inherit;
    height: inherit;
    background-color: transparent;
    border: none;
    outline: none;
}

.box {
    box-shadow: 3px 3px 3px darkgrey;
    resize: none;
    position: relative;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    border: 2px solid #7a00f4;
    border-radius: 5px;
    background-color:white !important;
}